nav{
  background-color: hsl(190, 50%, 40%);
  border-radius: 1em;
}

.btn-danger{
  background-color: hsl(0, 80%, 40%);
}
:hover.btn-danger{
  background-color: hsl(0, 80%, 60%);
}


.details-div-visible {
  visibility: visible; }

.display-panel-visible{
  visibility: visible;
}

.display-panel-hidden{
  visibility: hidden;
  display: none;     
}

.details-div-hidden {
  visibility: hidden;
  display: none; }

.div-visible {
  visibility: visible; }

.div-hidden {
  visibility: hidden;
  display: none; }



/*https://medium.com/@_jh3y/how-to-pure-css-masonry-layouts-a8ede07ba31a */


@media (min-width: 1200px) {
    .poll-card{
        column-count: 2;
        column-gap: 5px;
    }
}
@media (max-width: 1200px) {
    .poll-card{
        column-count: 2;
        column-gap: 5px;
    }
}
@media (max-width: 767px) {
    .poll-card{
        column-count: 2;
        column-gap: 5px;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    .poll-card{
        column-count: 1;
        column-gap: 5px;
    }
}

.card-part{
  break-inside: avoid;
  padding: 10px;
  border-radius: 10px;
}


.vote-graph{
  display: block;
  width: 100%
}

.vote-question{
  background-color: hsl(190, 50%, 45%);
  border-radius: 1px;  
}

:hover.vote-question{
  background-color: hsl(190, 50%, 50%);
  border-radius: 1em;  
}

/*
.response-option{
  border: black solid 1px;
  background-color: hsl(190, 50%, 30%);
  width: 100%;
  font: 2em "Open Sans", sans-serif;
}
*/